.news-container-custom {
    padding-top: 10vh;
    width: 80%;
    margin: 0 auto;
}

h1 {
    left: 0;
    margin-bottom: 10px;
    font-size: 4vh;
}

.titulo-card-news {
  font-weight: 800;
}

.news-image {
  align-items: center;
  width: 80%;
border-radius: 10px;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.news-grid-custom {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.news-item-custom {
    color: rgb(29, 29, 29);
    background-color: #e4e4e4;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 200px;
    transition: height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.short-desc-custom {
    margin-bottom: 10px;
}

.full-news-custom {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.news-item-custom.active {
    height: 350px; 
    transition: height 0.5s ease-in-out;
}

.news-item-custom.active .full-news-custom {
    opacity: 1;
    height: auto;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.news-item-custom.active .button-learn-more-custom {
    margin-top: auto; /* Empuja el botón hacia la parte inferior de la tarjeta */
    align-self: center; /* Centra el botón horizontalmente */
}

.all-news-link-custom {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.all-news-link-custom:hover {
    text-decoration: underline;
}

/* From Uiverse.io by Saad3092003 */ 
button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    align-self: center; /* Centra el botón horizontalmente */
    margin-top: auto; /* Asegura que el botón se posicione al final */
  }
  
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0825rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 .5rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
  }
  
  button:hover .button-text {
    transform: translate(-1.7rem, 0);
  }
  
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
  }
  
  button:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
  }
  
  button:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
  }
  
  button:hover .button-text {
    color: #fff;
  }
  
  button:active .button-text {
    color: rgba(255, 255, 255, 0.459);
  }


  @media (max-width: 1130px) {
    .news-grid-custom {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra las tarjetas horizontalmente */
    }

    .news-item-custom {
        width: 100%; /* Hace que las tarjetas ocupen todo el ancho */
        margin-bottom: 20px; /* Agrega un espacio entre las tarjetas */
    }

    button.learn-more .button-text {
      font-size: 10;
    }
}
